* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #13151E;
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    background-color: #0D0E14;
    border-bottom: 2px solid #1F2233;
    z-index: 100
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2250px;
}

.main {
    margin-top: 10%;
    width: 70%;
    height: 80%;
}

.services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 425px;
    .left-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            width: 508px;
            height: 118px;
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 800;
            color: #2971ff;
        }
        h2 {
            width: 731px;
            height: 250px;
            font-family: 'Montserrat', sans-serif;
            font-size: 28px;
            font-weight: 800;
            color: #8cb8fe;
        }
    }
    .right-image {
        width: 528px;
        height: 350px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.auctions {
    width: 60%;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    .slider-auctions {
        width: 100%;
        height: 350px;
        background-color: #0D0E11;
        border-radius: 15px;
    }
    .auction-main {
        margin-top: 12px;
        width: 100%;
        height: 1630px;
        border-radius: 15px;
        background-color: #0D0E11;
    }
}

.reasons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #0D0E11;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10%;
    .reason-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 95%;
        border-radius: 15px;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 32px;
            font-weight: 750;
            width: 90%;
            text-align: center;
            min-height: 39px;
            max-height: 74px;
        }
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 600;
            width: 90%;
            text-align: center;
            min-height: 39px;
            max-height: 54px;
        }
    }
}

.why-text {
    width: 100%;
    height: 40px;
    margin-top: 8%;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 750;
    text-align: center;
    color: #5C669B;
}

.why {
    width: 100%;
    height: 480px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0D0E11;
    .why-block {
        width: 30%;
        height: 80%;
        border-radius: 15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 60%;
        }
        h1 {
            width: 80%;
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 750;
        }
        h2 {
            width: 80%;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.what-to-sell {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    background-color: #0D0E11;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .sell-block {
        width: 23%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 750;
        }
        h2 {
            width: 85%;
            text-align: left;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.left-side {
    display: flex;
    align-items: center;
    width: 595px;
    height: 62px;
    margin-left: 32px;
    z-index: 101;
}

.logo {
    width: 56px;
    height: 62px;
    margin-left: 32px;
}

.header-button {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #464D72;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    align-self: center;
}

.header-button:hover {
    transition: 0.4s;
    border-bottom: 2px solid #F0F0F0;
    color: #F0F0F0;
    background: linear-gradient(180deg, rgba(240, 240, 240, 0), rgba(240, 240, 240, 0.01) 31.49%, rgba(240, 240, 240, 0.03) 67.05%, rgba(172, 252, 255, 0.07));

}

.header-button-active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #C3DCFD;
    background: linear-gradient(180deg, rgba(172, 252, 255, 0), rgba(172, 252, 255, 0.01) 31.49%, rgba(172, 252, 255, 0.03) 67.05%, rgba(172, 252, 255, 0.07));
    border-bottom: 2px solid #C3DCFD;
    border-left: none;
    border-top: none;
    border-right: none;
}

.right-side {
    display: flex;
    align-items: center;
    width: 475px;
    height: 62px;
    margin-right: 24px;
    z-index: 101;
}

.registration {
    transition: 0.4s;
    width: 166px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    background-color: #C3DCFD;
    border-radius: 4px;
    border: 2px solid transparent;
}

.registration:hover {
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.87);
    color: #C3DCFD;
    border: 2px solid #C3DCFD;
}

.login {
    transition: 0.4s;
    width: 115px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #C3DCFD;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    border: 2px solid #C3DCFD;
    margin-left: 14px;
}

.login:hover {
    transition: 0.4s;
    background-color: #C3DCFD;
    color: rgba(0, 0, 0, 0.87);
    border: 2px solid transparent;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #C3DCFD;
    margin-left: 4px;
    background: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    background: transparent;
    height: 1500px;
    margin-top: 5%;
}

.help {
    width: 100%;
    height: 574px;
    background-color: #1F2233;
    border: 2px solid #5d6798;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #5d6798;
    border-radius: 4px;
    padding: 25px;
    outline: none;
}

.confirm-button {
    margin-top: 3%;
    width: 350px;
    height: 65px;
    background-color: #1F2233;
    color: #5d6798;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid #5d6798;
}

.help::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #5d6798;
}

.fixed-thing {
    margin-left: 10%;
    margin-top: 2%;
}

.categories {
    padding: 7px;
    position: fixed;
    width: 275px;
    height: 395px;
    border-radius: 15px;
    background-color: #0D0E11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.cata-invisible {
    position: static;
    width: 275px;
    border-radius: 15px;
    background-color: transparent;
}

#fixed {
    position: absolute;
    height: 1020px;
    left: 10%;
    top: 10%;
    z-index: 50;
}

.other-categories {
    padding: 7px;
    margin-top: 407px;
    position: fixed;
    width: 275px;
    height: 434px;
    border-radius: 15px;
    background-color: #0D0E11;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slider {
    width: 63%;
    height: 241px;
    margin-left: auto;
    border-radius: 15px;
    background-color: #0D0E11;
}

.slider-images {
    display: flex;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

.sale-banner-button {
    background-color: #C3DCFD;
    width: 123px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    position: absolute;
    top: 28%;
    right: 230px;
    outline: none;
    border: none;
    z-index: 99;
}

.sort-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 27px;
    .left-side-sort {
        width: 609px;
        height: 33px;
        .by-name {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 700;
            width: 180px;
            height: 100%;
            border: 2px solid #5d6798;
            background-color: #1F2233;
            border-radius: 4px;
            color: #5d6798;
            padding-left: 6px;
        }
    }
}

.first-button,
.second-button {
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border: 2px solid #C3DCFD;
    border-radius: 4px;
    background-color: #0D0E11;
    font-size: 24px;
    color: #C3DCFD;
}

.first-button {
    left: 500px;
    z-index: 99;
}

.second-button {
    right: 665px;
    z-index: 99;
}

.sales {
    width: 35%;
    height: 241px;
    border-radius: 15px;
    margin-left: auto;
    background-color: #0D0E11;
    img {
        width: 100%;
        height: 100%;
    }
}

.catalog {
    width: 99%;
    margin-left: auto;
    height: 83.15%;
    margin-top: auto;
    border-radius: 15px;
    background-color: #0D0E11;
}

.reg {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    outline: 0;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.reg-into {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-image: none;
    margin: 0;
}

.reg-container {
    width: 1120px;
    min-height: 605px;
    border-radius: 20px;
    background-color: wheat;
}

main:hover {
    transition: 0.5s;
    min-height: 1200px;
}

.main-image {
    display: block;
    width: 80%;
    margin: 3% auto 0 auto;
    height: 450px;
    border-radius: 25px;
    border: 2px solid #1F2233;
    img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
    }
}

.some-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 650;
    width: 60%;
    text-align: center;
    margin: 55px auto 0 auto;
    color: #464D72;
}

.underline {
    width: 780px;
    height: 55px;
    border-bottom: 2px solid #464D72;
    margin: 0 auto 0 auto;
}

.adventages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    height: 350px;
}

.adv-block {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    background-color: #0D0E11;
    img {
        width: 75px;
        height: 75px;
        margin: 75px 0 0 137px;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        width: 250px;
        font-weight: 650;
        color: #464D72;
        margin-top: 35px;
        margin-left: 50px;
        text-align: center;
    }
}

footer {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #0D0E14;
    border-top: 2px solid #1F2233;
}
.footer-left {
    display: flex;
    padding: 17px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    h1 {
        font-size: 30px;
        font-weight: 750;
        font-family: 'Montserrat', sans-serif;
        color: #C3DCFD;
        margin-top: 10px;
        margin-right: 115px;
    }
    h2 {
        font-size: 18px;
        font-weight: 550;
        font-family: 'Montserrat', sans-serif;
        color: #1F2233;
        text-decoration: underline;
        margin-left: 25px;
    }
}

.footer-right {
    display: flex;
    padding: 17px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 600px;
    height: 150px;
}

.footer-btn {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #464D72;
    border: none;
    background: transparent;
    align-self: center;
    margin-left: 16px;
}

.footer-btn:hover {
    color: #F0F0F0;
}

.footer-btn-active {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #C3DCFD;
    border: none;
    background: transparent;
    align-self: center;
    margin-left: 16px;
}

.registr {
    margin-top: 5%;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    .reg-form {
        display: flex;
        margin-top: 5%;
        background-color: #0D0E11;
        border-radius: 15px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 600px;
        height: 625px;
        h1 {
            font-size: 48px;
            font-weight: 750;
            height: 50px;
            font-family: 'Montserrat', sans-serif;
            color: #2971ff;
        }
        .input-container {
            width: 400px;
            height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        input {
            outline: none;
            background-color: transparent;
            width: 400px;
            height: 55px;
            border-top: none;
            border-right: none;
            border-left: none;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: #525B87;
            border-bottom: 1px solid #C3DCFD;
        }
        input::placeholder {
            font-size: 24px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: #525B87;
        }
        .reg-button {
            width: 250px;
            border: none;
            outline: none;
            height: 50px;
            font-size: 18px;
            background-color: #5d6798;
            border-radius: 8px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #0D0E11;
        }
    }
}

.login-container {
    width: 100%;
    margin-top: 10%;
    height: 600px;
    display: flex;
    justify-content: center;
    .login-form {
        display: flex;
        background-color: #0D0E11;
        border-radius: 15px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 600px;
        height: 475px;

        h1 {    margin-top: -10px;
            font-size: 48px;
            font-weight: 750;
            height: 10px;
            font-family: 'Montserrat', sans-serif;
            color: #2971ff;
        }

        .input-container {
            width: 400px;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        input {
            outline: none;
            background-color: transparent;
            width: 400px;
            height: 55px;
            border-top: none;
            border-right: none;
            border-left: none;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: #525B87;
            border-bottom: 1px solid #C3DCFD;
        }

        input::placeholder {
            font-size: 24px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: #525B87;
        }

        .reg-button {
            width: 250px;
            border: none;
            outline: none;
            height: 50px;
            font-size: 18px;
            background-color: #5d6798;
            border-radius: 8px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #0D0E11;
        }
    }
}

.profile-row {
    width: 100%;
    height: 800px;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    .profile {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .left-text-block {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 40%;
            height: 100%;
            img {
                width: 250px;
                height: 250px;
                border-radius: 100px;
            }
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                font-weight: 700;
                color: #2971ff;
            }
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 36px;
                font-weight: 700;
                color: #8cb8fe;
            }
        }
        .right-items {
            width: 57%;
            height: 100%;
            background-color: #0D0E11;
            border-radius: 15px;
        }
    }
}

.cata-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 257px;
    height: 17px;
    color: white;
}

.one-category {
    width: 257px;
    height: 34px;
    border: 2px solid #272b3f;
    border-radius: 9px;
    background: linear-gradient(90deg, rgba(23, 26, 38, 1), rgba(19, 22, 31, 1) 15%, rgba(13, 15, 20, 0) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #C3DCFD;
        margin-left: 10px;
    }
}