* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #13151E;
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    background-color: #0D0E14;
    border-bottom: 2px solid #1F2233;
    z-index: 100
}

.left-side {
    display: flex;
    align-items: center;
    width: 595px;
    height: 62px;
    margin-left: 32px;
    z-index: 101;
}

.logo {
    width: 56px;
    height: 44px;
    margin-left: 32px;
}

.header-button {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #464D72;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    align-self: center;
}

.header-button:hover {
    transition: 0.4s;
    border-bottom: 2px solid #F0F0F0;
    color: #F0F0F0;
    background: linear-gradient(180deg, rgba(240, 240, 240, 0), rgba(240, 240, 240, 0.01) 31.49%, rgba(240, 240, 240, 0.03) 67.05%, rgba(172, 252, 255, 0.07));

}

.header-button-active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ADFCFF;
    background: linear-gradient(180deg, rgba(172, 252, 255, 0), rgba(172, 252, 255, 0.01) 31.49%, rgba(172, 252, 255, 0.03) 67.05%, rgba(172, 252, 255, 0.07));
    border-bottom: 2px solid #ADFCFF;
    border-left: none;
    border-top: none;
    border-right: none;
}

.right-side {
    display: flex;
    align-items: center;
    width: 475px;
    height: 62px;
    margin-right: 24px;
    z-index: 101;
}

.registration {
    transition: 0.4s;
    width: 166px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ADFCFF;
    border-radius: 4px;
    border: 2px solid transparent;
}

.registration:hover {
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.87);
    color: #ADFCFF;
    border: 2px solid #ADFCFF;
}

.login {
    transition: 0.4s;
    width: 115px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #ADFCFF;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    border: 2px solid #ADFCFF;
    margin-left: 14px;
}

.login:hover {
    transition: 0.4s;
    background-color: #ADFCFF;
    color: rgba(0, 0, 0, 0.87);
    border: 2px solid transparent;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #ADFCFF;
    margin-left: 4px;
    background: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    background: transparent;
    height: 1500px;
    margin-top: 5%;
}

.fixed-thing {
    margin-left: 10%;
    margin-top: 2%;
}

.categories {
    position: fixed;
    width: 275px;
    height: 395px;
    border-radius: 15px;
    background-color: #0D0E11;

}

.cata-invisible {
    position: static;
    width: 275px;
    border-radius: 15px;
    background-color: transparent;
}

#fixed {
    position: absolute;
    height: 1020px;
    left: 10%;
    top: 10%;
    z-index: 50;
}

.other-categories {
    margin-top: 407px;
    position: fixed;
    width: 275px;
    height: 434px;
    border-radius: 15px;
    background-color: #0D0E11;
}

.slider {
    width: 63%;
    height: 241px;
    margin-left: auto;
    border-radius: 15px;
    background-color: #0D0E11;
}

.sales {
    width: 35%;
    height: 241px;
    border-radius: 15px;
    margin-left: auto;
    background-color: #0D0E11;
}

.catalog {
    width: 99%;
    margin-left: auto;
    height: 83.15%;
    margin-top: auto;
    border-radius: 15px;
    background-color: #0D0E11;
}

.reg {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    outline: 0;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.reg-into {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-image: none;
    margin: 0;
}

.reg-container {
    width: 1120px;
    min-height: 605px;
    border-radius: 20px;
    background-color: wheat;
}

main:hover {
    transition: 0.5s;
    min-height: 1200px;
}

.main-image {
    display: block;
    width: 80%;
    margin: 3% auto 0 auto;
    height: 450px;
    border-radius: 25px;
    border: 2px solid #1F2233;
    img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
    }
}

.some-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 650;
    width: 60%;
    text-align: center;
    margin: 55px auto 0 auto;
    color: #464D72;
}

.underline {
    width: 780px;
    height: 55px;
    border-bottom: 2px solid #464D72;
    margin: 0 auto 0 auto;
}

.adventages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    height: 350px;
}

.adv-block {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    background-color: #0D0E11;
    img {
        width: 75px;
        height: 75px;
        margin: 75px 0 0 137px;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        width: 250px;
        font-weight: 650;
        color: #464D72;
        margin-top: 35px;
        margin-left: 50px;
        text-align: center;
    }
}

footer {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #0D0E14;
    border-top: 2px solid #1F2233;
}

.footer-left {
    display: flex;
    padding: 17px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    h1 {
        font-size: 30px;
        font-weight: 750;
        font-family: 'Montserrat', sans-serif;
        color: #ADFCFF;
        margin-top: 10px;
        margin-right: 115px;
    }
    h2 {
        font-size: 18px;
        font-weight: 550;
        font-family: 'Montserrat', sans-serif;
        color: #1F2233;
        text-decoration: underline;
        margin-left: 25px;
    }
}

.footer-right {
    display: flex;
    padding: 17px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 600px;
    height: 150px;
}

.footer-btn {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #464D72;
    border: none;
    background: transparent;
    align-self: center;
    margin-left: 16px;
}

.footer-btn:hover {
    color: #F0F0F0;
}

.footer-btn-active {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ADFCFF;
    border: none;
    background: transparent;
    align-self: center;
    margin-left: 16px;
}