<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-3.7.1.slim.min.js') }}"></script>
    <title>Каталог</title>
</head>
<body id="body" style="display: block;">
<header id="header">
    <form action="" method="post" class="left-side">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"/>
        </div>
        <input style="margin-left: 24px; height: 65px; width: 106px;" class="header-button" id="catalog" type="submit"
               name="submit-action" value="Каталог"/>
        <input type="submit" name="submit-action" style="height: 65px; width: 124px;" class="header-button"
               id="auctions" value="Аукционы"/>
        <input type="submit" name="submit-action" style="height: 65px; width: 158px;" class="header-button"
               id="bussiness" value="Для бизнеса"/>
        <input type="submit" name="submit-action" style="height: 65px; width: 116px;" class="header-button" id="help"
               value="Помощь"/>
    </form>
    <div class="right-side">
        <form action="" method="post">
            <input name="submit-action" class="registration" id="registry" type='submit' value="Регистрация"/>
            <input name="submit-action" class="login" id="login" type='submit' value="Войти"/>
        </form>
        <button class="buttons" id="cart"><img class="showed" src="{{  url_for('static', filename='cart.png')  }}"
                                               alt="cart">
            <img class="hidden" src="{{  url_for('static', filename='cart-black.png')  }}" alt="cart">
        </button>
        <button class="buttons"><img id="notify" class="showed" src="{{  url_for('static', filename='theme.png')  }}"
                                     alt="cart">
            <img id="notify-2" class="hidden" src="{{  url_for('static', filename='theme-black.png')  }}" alt="cart">
        </button>
        <button class="buttons" id="settings"><img class="showed"
                                                   src="{{  url_for('static', filename='settings.png')  }}" alt="cart">
            <img class="hidden" src="{{  url_for('static', filename='settings-black.png')  }}" alt="cart">
        </button>
        <div id="output"></div>
    </div>
</header>
<div class="main-container">
    <div class="main">
        <div class="services">
            <div class="left-text">
                <h1>Клиенты к вашим услугам</h1>
                <h2>На Everless ищут исполнителей для любых задач: от грузоперевозок до уборки в квартире. Разместите
                    объявление и заказчики смогут связаться с вами по телефону или в чате, что уточнить детали или
                    записаться.</h2>
            </div>
            <div class="right-image">
                <img src="{{  url_for('static', filename='services.png')  }}" alt="service">
            </div>
        </div>
        <div class="reasons">
            <div id="first-rb" style="background-color: #13161F; color: #2C3762;" class="reason-block">
                <h1>Everless - лучший</h1>
                <h2>для привлечения заказчиков</h2>
            </div>
            <div id="second-rb" style="background-color: #171C2B; color: #3E466F;" class="reason-block">
                <h1>Более 2 тысяч пользователей</h1>
                <h2>совершают покупки на Everless</h2>
            </div>
            <div id="third-rb" style="background-color: #1E2337; color: #5C669B;" class="reason-block">
                <h1>Каждый третий заказчик</h1>
                <h2>ищет исполнителя на Everless</h2>
            </div>
        </div>
        <h1 class="why-text">Почему Everless?</h1>
        <div class="why">
            <div id="why-one" style="background-color: #1E2337; color: #5C669B;" class="why-block">
                <img src="{{  url_for('static', filename='first-thing.png')  }}" alt="1">
                <h1>Для старта хватит одного объявления</h1>
                <h2>Разместите его - и заказчики смогут вас найти.</h2>
            </div>
            <div id="why-two" style="background-color: #171C2B; color: #3E466F" class="why-block">
                <img src="{{  url_for('static', filename='second-thing.png')  }}" alt="1">
                <h1>Спрос на услуги растёт</h1>
                <h2>За 2024 год пользователи Everless стали искать услуги на 30% чаще.</h2>
            </div>
            <div id="why-three" style="background-color: #13161F; color: #2C3762" class="why-block">
                <img src="{{  url_for('static', filename='third-thing.png')  }}" alt="1">
                <h1>Есть инструменты для продвижения</h1>
                <h2>Слайдеры с рекламой товаров, поднятие товаров в топ списка.</h2>
            </div>
        </div>
        <div style="margin-top: 8%;" class="services">
            <div class="left-text">
                <h1>Круглосуточная поддержка</h1>
                <h2>Everless всегда поможет с различными вопросами как клиентам, так и продавцам. Круглосуточная
                    поддержка ответит на любой вопрос моментально.</h2>
            </div>
            <div class="right-image" style="width: 350px; height: 350px;">
                <img src="{{  url_for('static', filename='support.png')  }}" alt="service">
            </div>
        </div>
    </div>
</div>
<footer id="foot">
    <div class="footer-left">
        <div class="first-foot">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"/>
            </div   >
            <h1>Everless</h1>
        </div>
        <h2 id="polit">Политика конфиденциальности</h2>
    </div>
    <form action="" method="post" class="footer-right">
        <input type="submit" name="submit-action" class="footer-btn" id="catalog-footer" value="Каталог">
        <input type="submit" name="submit-action" class="footer-btn" id="auctions-footer" value="Аукционы">
        <input type="submit" name="submit-action" class="footer-btn" id="bussiness-footer" value="Для бизнеса">
        <input type="submit" name="submit-action" class="footer-btn" id="help-footer" value="Помощь">
    </form>
</footer>
<script src="{{  url_for('static', filename='change-themes.js')  }}"></script>
</body>
</html>