<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-3.7.1.slim.min.js') }}"></script>
    <title>Каталог</title>
</head>
<body>
<header id="header">
    <form action="" method="post" class="left-side">
        <div class="logo">
            <a href="{{  url_for('hello')  }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="logo"/></a>
        </div>
        <input style="margin-left: 24px; height: 65px; width: 106px;" class="header-button" id="catalog" type="submit"
               name="submit-action" value="Каталог"/>
        <input type="submit" name="submit-action" style="height: 65px; width: 124px;" class="header-button"
               id="auctions" value="Аукционы"/>
        <input type="submit" name="submit-action" style="height: 65px; width: 158px;" class="header-button"
               id="bussiness" value="Для бизнеса"/>
        <input type="submit" name="submit-action" style="height: 65px; width: 116px;" class="header-button" id="help"
               value="Помощь"/>
    </form>
    <div class="right-side">
        <form action="" method="post">
            <input name="submit-action" class="registration" id="registry" type='submit' value="Регистрация"/>
            <input name="submit-action" class="login" id="login" type='submit' value="Войти"/>
        </form>
        <button class="buttons" id="cart"><img class="showed" src="{{  url_for('static', filename='cart.png')  }}"
                                               alt="cart">
            <img class="hidden" src="{{  url_for('static', filename='cart-black.png')  }}" alt="cart">
        </button>
        <button class="buttons"><img id="notify" class="showed" src="{{  url_for('static', filename='theme.png')  }}"
                                     alt="cart">
            <img id="notify-2" class="hidden" src="{{  url_for('static', filename='theme-black.png')  }}" alt="cart">
        </button>
        <button class="buttons" id="settings"><img class="showed"
                                                   src="{{  url_for('static', filename='settings.png')  }}" alt="cart">
            <img class="hidden" src="{{  url_for('static', filename='settings-black.png')  }}" alt="cart">
        </button>
        <div id="output"></div>
    </div>
</header>
<div class="profile-row">
    <div class="profile">
        <div class="left-text-block">
            <img src="{{  url_for('static', filename='ava.png')  }}" alt="ava">
            <h1>Егор Даедалус</h1>
            <h2>Частное лицо</h2>
            <h2>г. Оренбург</h2>
            <h2>Телефон</h2>
            <h2>Почта</h2>
        </div>
        <div class="right-items">
            <div class="top-adds">
                <button class="add-item">
                    Добавить объявление
                </button>
            </div>
            <div class="no-adds">
                <h1>В данный момент нет никаких объявлений</h1>
            </div>
        </div>
    </div>
</div>
<footer id="foot">
    <div class="footer-left">
        <div class="first-foot">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="logo"/>
            </div>
            <h1>Everless</h1>
        </div>
        <h2 id="polit">Политика конфиденциальности</h2>
    </div>
    <form action="" method="post" class="footer-right">
        <input type="submit" name="submit-action" class="footer-btn" id="catalog-footer" value="Каталог">
        <input type="submit" name="submit-action" class="footer-btn" id="auctions-footer" value="Аукционы">
        <input type="submit" name="submit-action" class="footer-btn-active" id="bussiness-footer" value="Для бизнеса">
        <input type="submit" name="submit-action" class="footer-btn" id="help-footer" value="Помощь">
    </form>
</footer>
<script src="{{  url_for('static', filename='change-themes.js')  }}"></script>
<script src="{{  url_for('static', filename='footer.js')  }}"></script>
</body>
</html>